*{
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS;', cursive;
}

#topper{
	img{
		float: left;
	}
	h1{
		margin-top: 50px;
	}
	display: flex;
    justify-content: center;
}

#forma{
	text-align: center;
	width: 600px;
    margin: auto;
    margin-bottom: 30px;

}

#links_list{
	width: 600px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

header{
	background-color: #4aa85a;
	height: 100px;
	margin-bottom: 20px;
}

footer{
	display: flex;
    background-color: #4aa85a;
    height: 60px;
    text-align: left;
    align-items: center; 
}

img{
	margin: 10px;
}

body{
	background-color: #1f1f1f;
	color: white;
}

ol{
	padding-left: 15px;
}

a{
	color: white;
}

h2{
	text-align: center;
}

table{
    border-collapse: collapse;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    tr.even
    {
        background-color:#445748; 
    }
    tr.odd{
        background-color:#5f7864;
    }
    tr.header{
        background-color:#4aa85a;
    }
    width:800px;
	height: 300px; 
	margin: 0 auto;
	margin-bottom: 30px;
}

th, td{
    border: 1px solid;
    border-color: white;
}
